body {
    text-align: center;
    font-size: 2em;
    font-family: "felix007 Medium";
    direction: rtl;
  }
  button{
    font-size: 20px;
    font-family: "felix007 Medium";
  }
  input{
    font-size: 20px;
    font-family: "felix007 Medium";
  }

  nav{
    background-color: rgb(233, 72, 32);
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }